gunicornfastapiuvicornSQLAlchemypsycopg2-binarypython-dotenvpydanticrequestsjoblibnumpyscikit-learnxgboostearthengine-apigeopypython-josepasslibemail-validatorreportlabpandaspython-multipartpasslib[bcrypt]bcrypt==4.0.1